<%- include("header") -%>

<h2> This is about page </h2>
<p> ok ok ok ok ok  ok ok ok ok ok  ok ok ok ok ok  ok ok ok ok ok  ok ok ok ok ok  ok ok ok ok ok  ok ok ok ok ok  ok ok ok ok ok </p>

<%- include("footer") -%>
